<!DOCTYPE html>
<html lang="en" ng-app="accessApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="access-app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
    <link href="style.css" rel="stylesheet">

    <title>Title</title>
</head>
<body ng-controller="AccessCtrl as access">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Access management</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form ng-submit="addUser()">
                <div class="col-md-8">
                    <input type="text" name="add" class="form-control search-input"
                           list="results" placeholder="Search"
                           ng-model="search" required ng-class="dirty: found">
                    <datalist id="results">
                        <option ng-repeat="other in others" value="{{other.name}}"></option>
                    </datalist>
                </div>
                <div class="col-md-3">
                    <select class="col-md-8 selectpicker" ng-model="access">
                        <option ng-repeat="item in options track by $index" value="{{item.rights}}">{{item.rights}}</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <input type="submit" class="btn btn-primary" value="Add" ng-disabled="add.$invalid">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <users users="users"></users>
        </div>
    </div>
</div>
</body>
</html>
