<!DOCTYPE html>
<html lang="en" ng-app="accessApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="access-app.js"></script>
    <title>Title</title>
</head>
    <body ng-controller="UsersCtrl as access">
      <div class="text-center">
          <h3>Access management</h3>
      </div>

      <div class="row">
          <div class=" col-md-8 col-md-offset-2">
            <form class="form-inline">
<div class="form-group col-md-10">
<label class="sr-only" for="search-input"></label>
<div class="input-group">
  <input type="text" class="form-control col-md-10" placeholder="Search">
</div>
</div>
<button class="btn btn-default dropdown-toggle col-md-2" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
Read
<span class="caret"></span>
</button ng-model="current">
<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
<li><a href="#">Read</a></li>
<li><a href="#">Write</a></li>
<li><a href="#">Admin</a></li>
</ul>
</form>
          </div>
      </div>

      <div class="row">
          <div class=" col-md-8 col-md-offset-2">
            <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">All</a></li>
        <li role="presentation"><a href="#">Added</a></li>

      </ul>
          <table class="table table-striped">
              <thead>
              <tr>
                  <th class="col-md-5">Name</th>
                  <th class="col-md-2">Rights</th>

              </tr>
              </thead>
              <tbody>
              <tr ng-mouseover="icon=true" ng-repeat="user in users">
                  <td class="col-md-5">{{users.name}}</td>
                  <td class="col-md-2">{{users.rights | filter:'current'}}</td>
                  <td class="col-sm-1"><a href="#" ng-show="icon" ng-click=""><i class="glyphicon glyphicon-remove"></i></a></td>

              </tr>
              </tbody>
          </table>
        </div>
      </div>


    </body>
</html>
