<table class="table table-hover">
    <thead>
    <tr>
        <td class="col-sm-1">#</td>
        <th class="col-md-6">Name</th>
        <th class="col-md-2">Rights</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-mouseover="glyphicon=true" ng-mouseleave="glyphicon=false" ng-repeat="user in users">
        <td class="col-sm-1">{{users.indexOf(user) + 1}}</td>
        <td class="col-md-5">{{user.name}}</td>
        <td class="col-md-2">{{user.rights}}</td>
        <td class="col-sm-1"><a href="#" ng-show="glyphicon" ng-click="delete(user)"><i class="glyphicon glyphicon-remove"></i></a></td>

    </tr>
    </tbody>
</table>
