<table class="table table-striped">
    <thead>
    <tr>
        <th class="col-md-5">Name</th>
        <th class="col-md-2">Rights</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-mouseover="icon=true" ng-repeat="user in users | filter:'search'">
        <td class="col-md-5">{{user.name}}</td>
        <td class="col-md-2">{{user.rights | filter:'current'}}</td>
        <td class="col-sm-1"><a href="#" ng-show="icon" ng-click="delete(user)"><i class="glyphicon glyphicon-remove"></i></a></td>

    </tr>
    </tbody>
</table>
